.root {
  @apply flex flex-wrap text-sm;
}

.rootDark {
}

.chain {
  @apply flex items-center inline-block relative;
}

.collectionName {
  @apply flex items-center;
}

.collectionName::before {
  @apply bg-gray-100 bg-cover content-[''] block w-6 h-6 mr-2 rounded-full;
}

.chainName {
}

.bsc::before {
  /* composes: chain; */
  @apply bg-[url('/chains/bsc.svg')];
}

.ethereum::before {
  /* composes: chain; */
  @apply bg-[url('/chains/ethereum.svg')];
}

.polygon::before {
  @apply bg-[url('/chains/polygon.svg')];
}

.solana::before {
  @apply bg-[url('/chains/solana.svg')];
}

.nftCollectionWrap {
  composes: nftCollectionWrap from '../List/item.module.css';
  @apply flex items-center;
}

.nftCollectionWrap + .nftCollectionWrap {
  @apply ml-2;
}

.nftCollectionLink {
  @apply ml-2;
}

.collectionName {
  composes: collectionName from '../List/item.module.css';
}

.contractAdd {
  composes: contractAdd from '../List/item.module.css';
}