.root {
  @apply flex flex-wrap;
}

.rootDark {
    composes: root;
}

.pageContent {
  @apply lg:pr-4 basis-full md:basis-2/3 mb-4 lg:mb-0 relative;
}

.rootDark .pageContent {
}

.pageContentInner {
    @apply bg-white rounded-lg shadow-sm py-6 px-6;
}

.shortDesc {
    @apply mb-8 font-semibold leading-relaxed;
}

.rootDark .desc {
    @apply text-gray-400;
}

.coverImage {
  @apply rounded-lg overflow-hidden mb-8;
}

.coverImage > span {
  position: relative !important;
}

.campaignCover {
  position: relative !important;
  min-width: auto !important;
  min-height: auto !important;
  height: auto !important;
  width: auto !important;
}

.campaignThumb {

}
.pageSidebar {
    @apply basis-full md:basis-1/3 lg:pl-4 max-w-full;
}

.bsc {
  @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/bsc.svg')] bg-cover;
}

.ethereum {
  @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/ethereum.svg')] bg-cover;
}

.polygon {
  @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/polygon.svg')] bg-cover;
}

.solana {
  @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/solana.svg')] bg-cover;
}

.nftCollectionWrap {
  composes: nftCollectionWrap from '../../List/item.module.css';
  @apply flex items-center;
}

.nftCollectionLink {
}

.collectionName {
    composes: collectionName from '../../List/item.module.css';
}

.contractAdd {
    composes: contractAdd from '../../List/item.module.css';
}

.rewardOverview p {
  @apply my-0;
}

.rewardOverview p + p {
    @apply mt-4;
}