.root {
    @apply z-10;
}

.rootDark {
  composes: root;
  @apply dark:bg-gray-700 dark:divide-gray-600;
}

.userInfo {}

.userInfo a {
  @apply bg-gray-200 hover:bg-violet-500 hover:text-white rounded-full py-1 px-3 transition-all duration-300;
}

.rootDark .userInfo a {
  @apply bg-gray-700 hover:bg-violet-500 hover:text-white dark:text-white rounded-full py-1 px-3 transition-all duration-300;
}

.submenu {
    @apply py-3 px-4 text-sm text-gray-900;
}
.rootDark .submenu {
    @apply text-white;
}
.menu {
    @apply absolute bg-clip-padding bg-white border border-solid list-none mb-0 min-w-[10rem] mt-0.5 mx-0 right-0 rounded text-left top-[110%];
}

.rootDark .menu {

}

.menuItem {
    @apply border-b border-solid;
    list-style: none;
}

.sortButton {
    composes: root_lowPriority from '../../../atoms/Button/button.module.css';
    @apply min-w-[6.26rem] border-2 border-gray-200 font-normal normal-case rounded-md;
}

.desktopText {
    @apply hidden lg:inline-flex;
}

.sortText {
    @apply leading-normal;
}

.desktopIconWrapper {
    composes: root from '../../../atoms/Icon/icon.module.css';
    transform: translateX(10px);
}

.desktopIcon {
    composes: icon from '../../../atoms/Icon/icon.module.css';
    @apply stroke-gray-500;
}

.mobileText {
    @apply lg:hidden;
}
.dropdownIcon{
   @apply inline ml-2 w-8 h-8 pl-4;
}