.root {
  @apply bg-white border-2 border-violet-500 shadow-sm rounded-xl mb-6
}

.rootDark {
  @apply bg-gray-800;
}

.taskIndex {
  @apply text-[10px] text-gray-500 font-medium block uppercase py-0;
  line-height: 1;
  letter-spacing: .5px;
}

.taskSuccess {
  @apply /*border border-green-600*/ text-green-600;
}

/* Step 1 */
.connectWalletTask {
  @apply border-b border-b-gray-200 flex items-center text-sm relative pb-4 font-medium;
}

.connectWalletTask button {
  @apply py-1.5 px-3 text-xs rounded-md ml-auto;
}

/* Step 2 */
.twitterLoginTask {
  @apply border-b border-b-gray-200 flex items-center text-sm relative py-4 font-medium;
}

.btnTwitterLogin {
  @apply bg-sky-400 hover:bg-sky-500 text-white flex items-center text-xs font-medium rounded-md py-1.5 px-3 transition duration-300 ml-auto;
}

/* Step 3 */
.twitterFollowTask {
  @apply border-b border-b-gray-200 flex items-center text-sm relative py-4 font-medium;
}

.twitterFollowTaskError {
  composes: twitterFollowTask;
  @apply border-red-500 hover:border-red-500;
}

/* Step 4 */
.twitterRetweetTask {
  @apply border-b border-b-gray-200 flex items-center text-sm relative py-4 font-medium;
}

.nftOwnershipTask {
  @apply bg-gray-100 mt-2 p-4 rounded-lg;
}

.btnVerifyTwitter {
  @apply bg-gray-200 hover:bg-sky-400 hover:text-white text-gray-600 font-semibold rounded-md py-1.5 px-2.5 text-xs ml-auto transition-all duration-300;
}

/* Step 5 */
.soulBoundTokenTask {
  @apply flex items-start relative pt-4;
}

.bsc {
  composes: bsc from '../../Rewards/rewards.module.css';
  float: left;
}

.btnClaimRewardWrap {
  @apply mt-4 pt-4;
}

.btnClaimRewardWrap button {
  /*@apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;*/
  @apply flex items-center justify-center text-center font-medium;
}

.btnClaimReward {
  @apply bg-violet-600 hover:bg-violet-700 text-white block py-2.5 px-4 text-center rounded-lg transition-all duration-300 w-full;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.btnClaimRewardDisabled {
  composes: btnClaimReward;
  composes: disabled;
  @apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;
}

.btnClaimRewardSubmitted {
  composes: btnClaimRewardDisabled;
  @apply bg-green-600 border border-green-600 text-white;
}

.taskLoading {
  composes: disabled;
  opacity: 0.6;
  @apply bg-gray-200 text-gray-500 text-center font-medium;
}
