.root {
  @apply mb-8;
}

.questItem {
  @apply hover:bg-slate-200 hover:bg-opacity-80 py-3 px-4 bg-slate-100 rounded-xl flex items-center text-lg font-bold mb-4 relative overflow-hidden transition-all duration-300;
}

.questItemIcon {
  @apply rounded-full w-12 h-12 flex items-center justify-center mr-6;
}

.taskIndex {
  @apply text-xs tracking-widest text-gray-500 font-bold block uppercase py-0 text-left;
}

.taskSuccess {
  @apply /*border border-green-600*/ text-green-600;
}

/* Step 1 */
.connectWalletTask {
}

.btnConnectWallet {
  @apply absolute top-0 right-0 bottom-0 left-0 m-0 w-full text-right text-sm text-slate-400 font-bold px-6;
}

.connectWalletTask:hover button {
  @apply text-slate-600;
}

.btnConnectWallet img {
  @apply hidden;
}

.twitterLoginTask {
}

.btnTwitterLogin {
  @apply absolute left-0 top-0 right-0 bottom-0 w-full;
}

.twitterFollowTask {
}

.twitterFollowTaskError {
  composes: twitterFollowTask;
  @apply border-red-500 hover:border-red-500;
}

.twitterRetweetTask {
}

.nftOwnershipTask {
  @apply bg-gray-100 mt-2 p-4 rounded-lg;
}

.btnVerifyTwitter {
  @apply absolute left-0 top-0 right-0 bottom-0 w-full;
}

.soulBoundTokenTask {
  @apply relative pt-4 hover:bg-slate-200 hover:bg-opacity-80 transition-all duration-300;
}

.chain {
  @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-cover;
}
.bsc {
  composes: chain;
  @apply  bg-[url('/chains/bsc.svg')] bg-slate-700 rounded-full w-8 h-8 flex items-center justify-center ml-2;
}

.ethereum {
  composes: chain;
  @apply bg-[url('/chains/ethereum.svg')];
}

.polygon {
  composes: chain;
  @apply bg-[url('/chains/polygon.svg')];
}

.solana {
  composes: chain;
  @apply bg-[url('/chains/solana.svg')];
}

.nftCollectionWrap {
  composes: nftCollectionWrap from '../../../List/item.module.css';
  @apply flex items-center;
}

.nftCollectionLink {
}

.collectionName {
  composes: collectionName from '../../../List/item.module.css';
}

.contractAdd {
  composes: contractAdd from '../../../List/item.module.css';
}

.btnClaimRewardWrap {
  @apply mt-4 pt-4;
}

.btnClaimRewardWrap button {
  /*@apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;*/
  @apply flex items-center justify-center text-center font-medium;
}

.btnClaimReward {
  @apply bg-violet-600 hover:bg-violet-700 text-white block py-2.5 px-4 text-center rounded-lg transition-all duration-300 w-full;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.btnClaimRewardDisabled {
  composes: btnClaimReward;
  composes: disabled;
  @apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;
}

.btnClaimRewardSubmitted {
  composes: btnClaimRewardDisabled;
  @apply bg-green-600 border border-green-600 text-white;
}

.taskLoading {
  composes: disabled;
  opacity: 0.6;
  @apply bg-gray-200 text-gray-500 text-center font-medium;
}

.taskLoading::before {
  @apply content-[''] bg-[url('/loading-2.gif')] bg-cover block w-8 h-8 absolute left-1/2 top-6;
}

.soulAvatar {
  margin: 0px 5px 0px 0px;
}
