@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }
}

html {
  height: 100%;
  /* Better Font Rendering =========== */
  -moz-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "cv02","cv03","cv04","cv11";
}

body {
  @apply antialiased text-slate-600 bg-slate-100;
}

h1, h2, h3 {
  @apply font-altsans;
}

h1 {
}

h2 {
  @apply my-4 font-bold text-2xl;
}

h3 {
  @apply my-6 font-bold text-xl;
}

p {
  @apply my-6;
}

ul {
  @apply list-disc ml-8;
}

ol {
  @apply list-decimal ml-8;
}

ul li,
ol li {
  @apply py-2 pl-1;
}

ul li p,
ol li p {
  @apply my-0;
}


/* Improve style for Web3 modal */
.web3modal-modal-lightbox {
  z-index: 40;
}


/* -------------------------*/
/* Components 
/* -------------------------*/

/* 
Cards
-------------------------*/
.card {
  @apply bg-white rounded-xl border border-slate-200;
}

.card-trans {
  @apply bg-transparent rounded-xl border border-slate-200;
}

.card-header {
  @apply pt-6 pb-6 px-6;
}

.card-header h3 {
  @apply font-bold text-lg m-0;
}

.card-body {
  @apply pb-6 px-6;
}

/* 
List pair
-------------------------*/
.list-pair {

}

.list-pair--item {
  @apply flex justify-between items-center py-1;
}

.pair-title {
  @apply font-bold text-sm text-slate-400;
}

.pair-value {
  @apply flex items-center font-bold text-base;
}

.pair-value--logo {
  @apply w-6 h-6 bg-slate-700 rounded mr-2;
  padding: 3px 6px 6px 6px;
}

.pair-value--logo img {
  @apply !w-full !h-auto;
}