@import url('https://fonts.cdnfonts.com/css/pt-root-ui');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }
}

html {
  height: 100%;
  /* Better Font Rendering =========== */
  -moz-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply antialiased text-slate-700 bg-slate-100;
}

h1, h2, h3 {
  @apply font-altsans;
}

h1 {
}

h2 {
  @apply my-4 font-bold text-2xl;
}

h3 {
  @apply my-6 font-bold text-xl;
}

p {
  @apply my-6;
}

ul {
  @apply list-disc ml-8;
}

ol {
  @apply list-decimal ml-8;
}

ul li,
ol li {
  @apply py-2 pl-1;
}

ul li p,
ol li p {
  @apply my-0;
}


/* Improve style for Web3 modal */
.web3modal-modal-lightbox {
  z-index: 20;
}


/* -------------------------*/
/* Components 
/* -------------------------*/

/* 
Cards
-------------------------*/
.card {
  @apply bg-white rounded-xl border border-slate-200;
}

.card-trans {
  @apply bg-transparent rounded-xl border border-slate-200;
}

.card-header {
  @apply pt-6 pb-3 px-6;
}

.card-header h3 {
  @apply font-bold text-lg m-0;
}

.card-body {
  @apply pb-6 px-6;
}