.root {
}

/*.pageWrap {*/
/*  @apply py-10 lg:py-16 px-4 lg:px-0 mx-auto max-w-screen-xl relative flex flex-wrap items-stretch;*/
/*}*/

.pageTitle {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold text-gray-900 mt-0 mb-2 lg:mb-4;
  line-height: 1.375 !important;
}

.rootDark .pageTitle {
  @apply text-white;
}

.pageContent {
  @apply lg:pr-4 basis-full lg:basis-2/3 mb-4 lg:mb-0;
}

.rootDark .pageContent {
}

.pageWrapper {
  @apply bg-slate-100;
}

.pageHeader {
  @apply mb-12;
}

.pageContainer {
  @apply container mx-auto max-w-screen-xl py-12 px-4;
}

.campaignMeta {
  @apply flex flex-wrap items-center justify-start mb-6 text-sm;
}

.loading {
  padding: 10px;
  text-align: center;
}

.notFound {
  padding: 10px;
  text-align: center;
}

.dateStart {
  @apply pr-2;
}

.dateEnd {
  @apply pl-2;
}

.whitelistInfo {
  @apply flex flex-wrap items-center justify-start pl-2;
}
.whitelistInfo span {
  @apply pl-2;
}
.whitelistLock {
  composes: whitelistInfo;
  color: #dc2626;
}
.whitelistLockOpen {
  composes: whitelistInfo;
  color: green;
}