.root {
  @apply bg-gray-50;
}

.rootDark {
  @apply bg-gray-900;
}

/*.pageWrap {*/
/*  @apply py-10 lg:py-16 px-4 lg:px-0 mx-auto max-w-screen-xl relative flex flex-wrap items-stretch;*/
/*}*/

.pageTitle {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold text-gray-900 mt-0 mb-2 lg:mb-4;
  line-height: 1.375 !important;
}

.rootDark .pageTitle {
  @apply text-white;
}

.pageWrapper {
  @apply bg-gray-50;
}

.pageContainer {
  @apply container mx-auto max-w-screen-xl flex flex-wrap lg:flex-nowrap items-stretch py-12 px-4;
}

.pageContent {
  @apply lg:pr-4 basis-full md:basis-2/3 mb-4 lg:mb-0;
}

.rootDark .pageContent {
}

.pageContentInner {
  @apply bg-white rounded-lg shadow-sm py-4 px-6 pt-0
}

.rootDark .pageContentInner {
  @apply bg-gray-800;
}

.shortDesc {
  @apply font-semibold mb-8;
}

.coverImage {
  @apply rounded-t-lg overflow-hidden mb-8 -mx-6;
}

.campaignMeta {
  @apply flex flex-wrap items-center justify-start mb-6 text-sm;
}

.pageSidebar {
  @apply basis-full md:basis-1/3 lg:pl-4 max-w-full;
}

.loading {
  padding: 10px;
  text-align: center;
}

.notFound {
  padding: 10px;
  text-align: center;
}

.dateStart {
  @apply pr-4;
}

.dateEnd {
  @apply pl-4;
}

.rootDark .desc {
  @apply text-gray-400;
}

/* Sidebar list coupon */
.Box {
  @apply bg-gray-50 border border-gray-200 rounded-lg;
}

.Box + .Box {
  @apply mt-6;
}

.boxHilite {
  @apply border border-2 border-violet-600 rounded-lg mb-5;
}

.rootDark .Box {
  @apply bg-gray-800 border border-gray-700;
}

.boxTitle {
  @apply border-b border-gray-200 font-medium text-gray-800 text-lg m-0 py-3 px-4;
}

.rootDark .boxTitle {
  @apply border-b border-gray-700 text-white;
}

.boxHilite .boxTitle {
}

.boxBody {
  @apply py-6 px-4;
}

.itemMeta {
  @apply text-xs text-gray-500 mb-2;
}

.rootDark .itemMeta {
  @apply text-gray-300;
}

.storeLogo {
  @apply mx-auto;
  max-width: 50%;  
}

.storeInfo {

}

.campaignCover {

}

.campaignThumb {

}

.shortDesc {
}
